<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= @user %></th>
    </tr>

    <tr>
      <th>introduction</th>

      <div>edit picture</div>

    </tr>
  </tbody>
</table>

<h4>New book</h4>
<%= form_with model: @user, local: true do |f| %>

<div>
  <div>Title</div>
  <%= f.text_field :title %>
</div>

<div>
  <div>Opinion</div>
  <%= f.text_area :body %>
</div>

<%= f.submit 'Create Book' %>

<% end %>

