<div class="container">
  <div class="row">

  <div class="col-xs-3">
    <%= render 'users/user', user: @user, book: @book %>
  </div>

 <div class="col-xs-9">

　<h4>Book detail</h4>

  <table>
    <tbody>
      <tr>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
    <%= link_to @user.name,user_path(current_user) %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to "Edit", edit_book_path(@book.id)%></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete, "date-confirm" => "本当に消しますか？" %></td>
      </tr>
    </tbody>
  </table>

   </div>
  </div>
</div>


